[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
huggingface_hub = "*"
sentence-transformers = "*"
faiss-cpu = "*"  # Use faiss-gpu if you have GPU support
langchain-community = "*"
langchain = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.12"
